body {
    font-family: 'Quicksand', sans-serif;
    background-color: #121212;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.project-show-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #001A23;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    }

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
        color: #ff9800;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: #ffa726;
        }
    }

    p {
        margin-bottom: 10px;
        color: #e0e0e0;

        strong {
            color: #bdbdbd;
        }

        a {
            color: #ff9800;
            text-decoration: none;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: #ffa726;
                text-decoration: underline;
            }
        }
    }
}
